body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5edf0, #dcbddf, #9a99e0, #008bd0);
    text-align: center;
}

.container {
    width: 320px;
    margin: 120px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.hidden {
    display: none;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 6px 0;
}
